<!-- artist_songs.html -->
{% extends "base.html" %}

{% block title %}Karaoke{% endblock %}

{% block styles %}
    <style>
        .card-img-top-custom {
            width: 128px;
            height: 173px;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Header Section -->
{% include "header.html" %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Artisti e Canzoni</h1>

    <!-- Form di ricerca -->
    <form method="get" action="" class="d-flex mb-4">
        <input type="text" name="q" class="form-control me-2" placeholder="Cerca canzoni..." value="{{ query }}">
        <button type="submit" class="btn btn-primary">Cerca</button>
    </form>

    <hr>

    <!-- Mostra i risultati -->
    {% if artist_songs %}
        <div class="accordion" id="artistAccordion">
            {% for file_name, artists in artist_songs.items %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ file_name|slugify }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ file_name|slugify }}" aria-expanded="true" aria-controls="collapse-{{ file_name|slugify }}">
                            File JSON: {{ file_name }}
                        </button>
                    </h2>
                    <div id="collapse-{{ file_name|slugify }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ file_name|slugify }}" data-bs-parent="#artistAccordion">
                        <div class="accordion-body">
                            {% for artist, songs in artists.items %}
                                <h5 class="mt-3">{{ artist }}</h5>
                                <ul class="list-group">
                                    {% for song in songs %}
                                        <li class="list-group-item">{{ song }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-danger">Nessun risultato trovato per "{{ query }}".</p>
    {% endif %}
</div>
{% endblock %}

