<!-- add_and_view_books.html -->
{% extends "base.html" %}

{% block title %}Libri{% endblock %}

{% block styles %}
    <style>
        .card-img-top-custom {
            width: 128px;
            height: 173px;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }
    </style>
{% endblock %}

{% block content %}
<!-- Header Section -->
{% include "header.html" %}
    <!-- Qui inserisci il contenuto specifico della tua pagina -->
    <h1>Aggiungi e visualizza libri</h1>
    <!-- ... resto della pagina ... -->
{% endblock %}
