<!-- add_and_view_books.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block styles %}
    <style>
        .card-img-top-custom {
            width: 128px;
            height: 173px;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }
        .hero {
            position: relative;
            height: 60vh; /* Altezza 100% viewport */
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            overflow: hidden;
        }

        .hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/static/prova.png') no-repeat center center;
            background-size: cover;
            opacity: 0.8; /* Regola l'opacità dello sfondo */
            z-index: -1; /* Manda lo sfondo dietro al testo */
        }

    </style>
    
{% endblock %}

{% block content %}
<!-- Header Section -->
{% include "header.html" %}
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1 class="display-4">Benvenuto nel nostro sito!</h1>
            <p class="lead">Scopri di più sui nostri servizi e prodotti.</p>
            <a href="#scopri" class="btn btn-light btn-lg">Scopri di più</a>
        </div>
    </section>

    <!-- Contenuto -->
    <section id="scopri" class="container my-5">
        <h2>Chi siamo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet libero et justo tincidunt sodales.</p>
    </section>
{% endblock %}
