<!DOCTYPE html>
<html lang="it">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riepilog Ferie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fapple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <style>
        @media print {
            body {
                font-family: Arial, sans-serif;
                font-size: 12px;
            }

            .btn {
                display: none;
                /* Nascondi i bottoni durante la stampa */
            }

            #riepilogo {
                margin-top: 20px;
            }
        }
    </style>
</head>

<body>
    {% include "header.html" %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title">Riepilogo Ferie e Permessi</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Dati Annuali</h5>
                            <p><strong>Ferie totali all'anno:</strong> {{ ferie_totali_annuali_ore }} ore / {{ ferie_totali_annuali_giorni }} giorni</p>
                            <p><strong>Permessi totali all'anno:</strong> {{ permessi_totali_annuali_ore }} ore / {{ permessi_totali_annuali_giorni }} giorni</p>
                        </div>

                        <hr>

                        <div class="mb-4">
                            <h5>Ferie e Permessi Utilizzati</h5>
                            <p><strong>Ferie godute:</strong> {{ data.ferie_godute }} ore</p>
                            <p><strong>Permessi goduti:</strong> {{ data.permessi_goduti }} ore</p>
                        </div>
                        <div class="mb-4">
                            <h5>Ferie Rimanenti</h5>
                            <p>Ferie rimanenti: {{ ferie_rimanenti_giorni|floatformat:2 }} giorni</p>
                            <p>Permessi rimanenti: {{ permessi_rimanenti_giorni|floatformat:2 }} giorni</p>

                        </div>
                        <hr>

                       
                        <div class="container mt-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Aggiungi Ore</h4>
                                </div>
                                <div class="card-body">
                                    <form method="post" class="mt-3">
                                        {% csrf_token %}
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="id_tipo" class="form-label">Tipo di ore</label>
                                                <select id="id_tipo" name="tipo" class="form-select" required>
                                                    
                                                    <option value="ferie" selected>Ferie</option>
                                                    <option value="permessi">Permessi</option>
                                                   
                                                    <!-- Aggiungi altre opzioni se necessario -->
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="id_ore" class="form-label">Ore</label>
                                                <input type="number" id="id_ore" name="ore" class="form-control" required min="0">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success mt-3">Aggiungi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        

                        
                      
                        

                    </div>
                   


                    <div class="card-footer mt-2">
                        <div class="d-flex justify-content-between align-items-center ">
                            <div>
                               
                                <form action="{% url 'reset_ferie_permessi' %}" method="post" onsubmit="return confirm('Sei sicuro di voler resettare ferie e permessi?');">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-sync-alt"></i> Reset Ferie e Permessi
                                    </button>
                                </form>
                            </div>
                            <div>
                                <form method="post" action="{% url 'esporta_pdf' %}" class="d-inline">
                                    {% csrf_token %}
                                    <a href="{% url 'esporta_pdf' %}" class="btn btn-primary">Esporta in PDF</a>
                                </form>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-8 offset-md-2 mt-4">
            <div class="card">
                <div class="card-header">
                    <h4>Richiesta di Ferie</h4>
                </div>
                <div class="card-body">
                    <form>
                        <!-- Data Inizio Ferie -->
                        <div class="mb-3">
                            <label for="data_inizio" class="form-label">Data inizio ferie</label>
                            <input type="date" id="data_inizio" name="data_inizio" class="form-control" required>
                        </div>
                
                        <!-- Data Fine Ferie -->
                        <div class="mb-3">
                            <label for="data_fine" class="form-label">Data fine ferie</label>
                            <input type="date" id="data_fine" name="data_fine" class="form-control" required>
                        </div>
                
                        <!-- Pulsante per Compilare la Richiesta -->
                        <button type="button" id="compila_automaticamente" class="btn btn-primary">Compila automaticamente la richiesta</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title">Festività del 2025</h3>
                    </div>
                    <div class="card-body">


                        <div class="mt-4">


                            <div class="card-body">
                                <ul class="list-group">
                                    {% for festa in festivita %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div>
                                            <strong>{{ festa.nome }}</strong><br>
                                            <small>{{ festa.data|date:"d/m/Y" }} ({{ festa.data|date:"l" }})</small>
                                        </div>
                                        {% if festa.ponte %}
                                        <span class="badge bg-success">Ponte</span>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

<script>
    document.getElementById('compila_automaticamente').addEventListener('click', function() {
    // Recupero le date selezionate
    var dataInizio = document.getElementById('data_inizio').value;
    var dataFine = document.getElementById('data_fine').value;
    
    // Se le date sono selezionate
    if (dataInizio && dataFine) {
        // Crea il testo per la richiesta di ferie
        var richiestaFerie = `Buongiorno,\n\nRichiedo ferie dal ${new Date(dataInizio).toLocaleDateString('it-IT')} al ${new Date(dataFine).toLocaleDateString('it-IT')}.\n\nGrazie per l'approvazione.\n\nVincenzo Mancinelli.`;

        // Copia negli appunti
        var textarea = document.createElement('textarea');
        textarea.value = richiestaFerie;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);

        // Notifica che la richiesta è stata copiata negli appunti
        alert("La richiesta di ferie è stata copiata negli appunti!");

        // Facoltativo: apri direttamente la mail
        var mailtoLink = `mailto:g.ruggiero@soes.it?subject=Request%20Ferie&body=${encodeURIComponent(richiestaFerie)}&cc=w.miotto@soes.it`;

        window.location.href = mailtoLink;
    } else {
        alert("Per favore seleziona le date di inizio e fine ferie.");
    }
});

</script>

</body>

</html>