<!-- add_and_view_books.html -->
{% extends "base.html" %}

{% block title %}Libri{% endblock %}

{% block styles %}
    <style>
        /* Aggiungi questa classe nel tuo file CSS */
        .card-img-top-custom {
            width: 128px;
            height: 173px;
            object-fit: cover;
            margin: 0 auto;
            /* Centra orizzontalmente */
            display: block;
            /* Assicurati che l'immagine sia un blocco per applicare il margin */
        }
    </style>
{% endblock %}

{% block content %}
{% include "header.html" %}
    
<div class="container">
    <!-- Modulo per aggiungere un nuovo libro -->
    <form method="POST" action="{% url 'view_books' %}">
        {% csrf_token %}
        <div class="card shadow-lg mb-4">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Aggiungi un Libro</h5>
                <div class="mb-3">
                    <label for="title" class="form-label">Titolo</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Autore</label>
                    <input type="text" class="form-control" id="author" name="author" required>
                </div>
                <div class="mb-3">
                    <label for="read_date" class="form-label">Data di Lettura</label>
                    <input type="date" class="form-control" id="read_date" name="read_date" required>
                </div>

                <div class="text-center">
                    <button type="submit" name="add_book" class="btn btn-primary btn-lg">Aggiungi</button>
                </div>
            </div>
        </div>
    </form>

    <hr class="my-4">

    <h1 class="text-center my-4">Libri Letti</h1>

    <div class="container">
        <!-- Form per ordinare i libri -->
        <form method="GET" action="{% url 'view_books' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="sort-books" class="form-label">Ordina per:</label>
                <select id="sort-books" name="sort_by" class="form-select" onchange="this.form.submit()">
                    <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Titolo</option>
                    <option value="author" {% if sort_by == 'author' %}selected{% endif %}>Autore</option>
                    <option value="read_date" {% if sort_by == 'read_date' %}selected{% endif %}>Data di Lettura
                    </option>
                </select>
            </div>
        </form>

        <hr>


        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for book in books %}
            <div class="col">
                <div class="card h-100 shadow-sm border-light rounded">
                    <div class="row g-0">
                        <div class="col-xl-4">
                            <img src="{{ book.cover }}" class="card-img-top-custom" alt="Copertina" >
                        </div>
                        <div class="col-xl-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text"><strong>Autore:</strong> {{ book.author }}</p>
                                <p class="card-text"><strong>Data di Lettura:</strong> {{ book.read_date }}</p>
        
                                <div class="mt-auto">
                                    <!-- Pulsante per aprire il Modale di modifica -->
                                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#editModal{{ book.title|slugify }}">
                                        <i class="bi bi-pencil"></i> Modifica
                                    </button>
        
                                    <!-- Pulsante per eliminare il libro -->
                                    <form action="{% url 'delete_book' book.title %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm"
                                                onclick="return confirm('Sei sicuro di voler eliminare questo libro?')">
                                            <i class="bi bi-trash"></i> Elimina
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center col-12">Non ci sono libri da visualizzare.</p>
            {% endfor %}
        </div>
        
        <!-- Modale di modifica del libro -->
        {% for book in books %}
        <div class="modal fade" id="editModal{{ book.title|slugify }}" tabindex="-1"
            aria-labelledby="editModalLabel{{ book.title|slugify }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ book.title|slugify }}">Modifica il libro "{{ book.title }}"
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form di modifica -->
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{ book.title }}">
                            <img src="{{ book.cover }}" class="card-img-top-custom" alt="Copertina">
                            <label for="author">Autore</label>
                            <input type="text" class="form-control" id="author" name="author"
                                value="{{ book.author }}" required>

                            <label for="read_date">Data di lettura</label>
                            <input type="date" class="form-control" id="read_date" name="read_date"
                                value="{{ book.read_date }}" required>

                            <label for="cover_url">URL Copertina (Immagine)</label>
                            <input type="text" class="form-control" id="cover_url" name="cover_url"
                                value="{{ book.cover }}">

                            <button type="submit" name="edit_book" class="btn btn-primary">Salva modifiche</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>




</div>
{% endblock %}